body  {
	background-color: #00ff56;

}
li 	{
	display: inline;
    float: left;
    border-right: 1px solid #bbb;
}
.nav {

}
a.nav {
    display: block;
    padding: 8px;
    background-color: #009999;
}
ul {
	position: fixed;
	top: 0;
	width: 100%;
 	list-style-type: none;
 	padding: 0;
 	margin: 0;
    background-color: #009999;
}
.text {
	margin: 43px;
}